.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  border: 2px solid #ffffff;
  padding: 40px;
  flex-shrink: 0;
}

.score-para {
  font-family: 'Roboto';
}
